<%= form_for(@items_bought) do |f| %>
  <% if @items_bought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@items_bought.errors.count, "error") %> prohibited this items_bought from being saved:</h2>

      <ul>
      <% @items_bought.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ProductID %><br>
    <%= f.collection_select :ProductID, Product.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :AmountBought %><br>
    <%= f.number_field :AmountBought %>
  </div>
  <div class="field">
    <%= f.label :DateIn %><br>
    <%= f.date_select :DateIn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
