<h1>Items Bought</h1>

<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Amount Bought</th>
      <th>Date In</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items_boughts.each do |items_bought| %>
      <tr>
        <td><%= items_bought.ProductID %></td>
        <td><%= items_bought.AmountBought %></td>
        <td><%= items_bought.DateIn %></td>
        <td><%= link_to 'Show', items_bought %></td>
        <td><%= link_to 'Edit', edit_items_bought_path(items_bought) %></td>
        <td><%= link_to 'Destroy', items_bought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items bought', new_items_bought_path %>
