<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @items_bought.ProductID %>
</p>

<p>
  <strong>Amountbought:</strong>
  <%= @items_bought.AmountBought %>
</p>

<p>
  <strong>Datein:</strong>
  <%= @items_bought.DateIn %>
</p>

<%= link_to 'Edit', edit_items_bought_path(@items_bought) %> |
<%= link_to 'Back', items_boughts_path %>
