<%= form_for(@items_sold) do |f| %>
  <% if @items_sold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@items_sold.errors.count, "error") %> prohibited this items_sold from being saved:</h2>

      <ul>
      <% @items_sold.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ProductID %><br>
    <%= f.collection_select :ProductID, Product.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :amountSold %><br>
    <%= f.number_field :amountSold %>
  </div>
  <div class="field">
    <%= f.label :Revenue %><br>
    <%= f.text_field :Revenue %>
  </div>
  <div class="field">
    <%= f.label :dateOut %><br>
    <%= f.date_select :dateOut %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
