<h1>Items Sold</h1>

<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Amount Sold</th>
      <th>Revenue</th>
      <th>Date Out</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items_solds.each do |items_sold| %>
      <tr>
        <td><%= items_sold.ProductID %></td>
        <td><%= items_sold.amountSold %></td>
        <td><%= number_to_currency(items_sold.Revenue)%></td>
        <td><%= items_sold.dateOut %></td>
        <td><%= link_to 'Show', items_sold %></td>
        <td><%= link_to 'Edit', edit_items_sold_path(items_sold) %></td>
        <td><%= link_to 'Destroy', items_sold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items sold', new_items_sold_path %>
