<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @items_sold.ProductID %>
</p>

<p>
  <strong>Amountsold:</strong>
  <%= @items_sold.amountSold %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @items_sold.Revenue %>
</p>

<p>
  <strong>Dateout:</strong>
  <%= @items_sold.dateOut %>
</p>

<%= link_to 'Edit', edit_items_sold_path(@items_sold) %> |
<%= link_to 'Back', items_solds_path %>
