<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th>Total Gross Revenue</th>
      <th>Amount Sold per Week</th>
      <th>Items Understocked</th>
    </tr>
  </thead>

  <tbody>



    <% @reports.each do |report| %>
      <tr>
        <td><%= number_to_currency(report.total_gross_revenue) %></td>
        <td><%= report.weekly_sold %></td>

      </tr>


    <% end %>
  </tbody>
</table>

<br>
