<!DOCTYPE html>
<html>
<head>
  <title>Iproject</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Project</h1>
<hr>
<%=link_to "Products", products_path %>
<%=link_to "Items Bought", items_boughts_path %>
<%=link_to "Items Sold", items_solds_path %>
<%=link_to "Reports", reports_path %>
<hr>


<%= yield %>

</body>
</html>
